.bar {
  font-weight: 400;
  font-style: normal;
  font-family: 'Space Mono', monospace;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2;
  background-color: transparent;
  margin-top: 10em;
}

.nav-pills {
  display: flex;
  justify-content: space-around;
}

.nav-item button {
  background-color: transparent;
  border: none;
  color: #94d2bd;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .bar {
    font-size: 24px;
    padding: 0 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .bar {
    font-size: 32px;
    padding: 0 10%;
  }
}
