.background-certificados {
  padding: 80px 0;
  /* background-color: #af3128; */
  background: linear-gradient(to right, #2c6979, #4397ad);
}

.certificados-name {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 1000px;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Goblin One', sans-serif;
  /* color: #e9d8a6; */
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #e278fd;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 1024px) {
  #certificados-section {
    display: flex;
    justify-content: center;
  }

  .background-certificados {
    padding: 100px 0;
  }

  .certificados-name {
    font-size: 48px;
    margin-bottom: 60px;
  }

  .carousel-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 60%;
    margin: auto;
  }

  .carousel-inner .carousel-item {
    display: block;
    position: relative;
    transform: none;
    width: 100%;
    flex: none;
  }

  .carousel-inner img {
    border-radius: 12px;
    margin-bottom: 25px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-inner img:hover {
    transform: scale(1.05); /* Isso fará com que a imagem aumente 10% */
    /* transition: transform 0.3s ease-in-out;  */
    z-index: 50;
  }
}
