.background-contato {
  /* background-color: #9c2b26; */
  background: linear-gradient(to right, #2C6979, #4397AD);
  padding: 20px;
  text-align: center;
}

.contato-name {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 1000px;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Goblin One', sans-serif;
  text-transform:uppercase;
  /* color: #e9d8a6; */
  color: white;
  text-shadow: 2px 2px 4px #E278FD;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.contato-text {
  word-wrap: break-word;
  font-family: 'Space Mono', monospace;
  text-shadow: 2px 2px 4px black;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}
#contato-section {
  margin: 0 auto;
  max-width: 800px;
}

.contact-methods {
  margin-top: 20px;
}

.contact-link {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 4px black;

  
}

.contact-icon {
  vertical-align: middle;
  margin-right: 8px;
  height: 20px;
}

@media (min-width: 1024px) {
  .contato-name {
    font-size: 48px;
  }
  .contato-text {
    font-size: 24px;
  }
  .contact-link {
    font-size: 24px;
  }
  .contact-icon {
    height: 50px;
  }
}
