.footer {
  background-color: black;
  white-space: pre;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Space Mono', monospace;
  /* color: #ee9b00; */
  color: #FFE566;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2em;
}

.notebook-container {
  position: relative;
  display: inline-block;
}

@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.cheese:hover {
  animation: swing 0.5s ease-in-out infinite alternate;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .footer {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.div-rat {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 10%;
  z-index: 2;
}

.cheese {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 10%;
  background-size: contain;
  z-index: 1;
}
