.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  /* background: #e9d8a6; */
  background: #FFE566;
  transform-origin: 0%;
  z-index: 9999;
}

body {
  background-color: black;
}