.background-habilidades {
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-title {
  white-space: pre-wrap;
  max-width: 1000px;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Goblin One', sans-serif;
  /* color: #e9d8a6; */
  text-shadow: 2px 2px 4px #e0aaff;
  text-transform: uppercase;
  color: #e278fc;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.skills-paragraph {
  color: #ffffff;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.5;
}
.skills-tec {
  width: calc(50% - 10px);
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.5;
  margin-top: 5px;
  text-shadow: 2px 10px 20px #4397ad;
}

.skills-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  weight: auto;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: space-around;
  background-color: #212121;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .skills-list {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10vh;
    margin-bottom: 5h;
  }

  .skills-tec {
    font-size: 24px;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .background-habilidades {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-title {
    font-size: 48px;
  }

  .skills-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10vh;
    margin-bottom: 5h;
  }

  .skills-paragraph {
    align-self: center;
    max-width: 50%;
    font-size: 24px;
  }

  .skills-tec {
    font-size: 24px;
    padding: 10px;
  }

  .skills-list {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10vh;
    margin-bottom: 5h;
    padding-left: 10em;
  }
}

@media (min-width: 1200px) {
.skills-column {
  margin-left: 20%;
  margin-right: 20%;
}
}