.background-info {
  /* background-color: #af3128; */
  background: linear-gradient(to right, #2c6979, #4397ad);
  padding: 20px;
}

.my-info,
.my-info-2 {
  margin: 10px 0;
  text-align: center;
}

.my-info {
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Goblin One', sans-serif;
  /* font-family: 'Space Mono', monospace; */
  /* color: #e9d8a6; */
  /* color: #C94B84; */
  color: white;
  text-shadow: 2px 2px 4px #e278fd;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.my-info-2 {
  word-wrap: break-word;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}

.emphasis {
  font-weight: bold;
  font-size: 19px;
  text-shadow: 2px 2px 4px black;
}

.course-details-1 {
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2em;
}

.course-details-2 {
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2em;
}

.iam-2 {
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.info-school {
  font-size: 16px;
  margin-top: 5px;
}
.info-paragraph {
  font-size: 14px;
}

.profile-photo {
  border: 5px solid #e9d8a6;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  #info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 8em;
  }
  .my-info {
    font-size: 48px;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    z-index: 2;
    padding-bottom: 2em;
  }
  .my-info-2 {
    font-size: 28px;
  }
  .info-school {
    font-size: 24px;
  }
  .info-paragraph {
    font-size: 20px;
  }
  .iam-2 {
    font-size: 28px;
    grid-column: 1;
    align-self: center;
    grid-row: 1;
    justify-self: center;
    margin-top: 13.6em;
    padding-bottom: 4.5em;
  }

  .iam {
    display: grid;
    place-items: center;
  }

  .emphasis {
    font-size: 28px;
    max-width: 100%;
  }
  .profile-photo {
    border: 10px solid #e9d8a6;
    margin: 40px 0;
    width: 300px;
    height: 300px;
  }

  .course-details-1 {
    grid-column: 2;
    grind-row: 1;
    padding-top: 2em;
    margin-top: 4em;
  }

  .course-details-2 {
    grid-column: 2;
    grind-row: 1;
    margin-top: 15em;
  }
}

@media only screen and (min-width: 1024px) {
  .my-info {
    font-size: 48px;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    z-index: 2;
    padding-bottom: 1em;
  }

  .iam-2 {
    font-size: 28px;
    grid-column: 1;
    align-self: center;
    grid-row: 1;
    justify-self: center;
    margin-top: 13.6em;
    padding-bottom: 4.5em;
  }

  .course-details-1 {
    grid-column: 2;
    grind-row: 1;
    padding-top: 2em;
    margin-top: 0px;
  }

  .course-details-2 {
    grid-column: 2;
    grind-row: 1;
    margin-top: 5em;
  }

  #info-section {
    margin-bottom: 4em;
  }
}
