.background-info {
  background-color: #af3128;
  padding: 20px;
}

.my-info,
.my-info-2 {
  margin: 10px 0;
  text-align: center;
}

.my-info {
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: 'Goblin One', sans-serif;
  color: #e9d8a6;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.my-info-2 {
  word-wrap: break-word;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}

.emphasis {
  font-weight: bold;
  font-size: 19px;
}

.course-details {
  margin: 20px 0;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.iam-2 {
  margin: 20px 0;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 4em;
}

.info-school {
  font-size: 16px;
  margin-top: 5px;
}
.info-paragraph {
  font-size: 14px;
}

.profile-photo {
  border: 5px solid #e9d8a6;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  #info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
    align-items: center;
  }
  .my-info {
    font-size: 48px;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    z-index: 2;
  }
  .my-info-2 {
    font-size: 28px;
  }
  .info-school {
    font-size: 24px;
  }
  .info-paragraph {
    font-size: 20px;
  }
  .iam-2 {
    font-size: 28px;
    grid-column: 1;
    align-self: center;
    grid-row: 2;
    justify-self: center;
  }

  .iam {
    display: grid;
    place-items: center;
  }
  
  .emphasis {
    font-size: 28px;
  }
  .profile-photo {
    border: 10px solid #e9d8a6;
    margin: 40px 0;
    width: 300px;
    height: 300px;
  }

  .course-details {
    grid-column: 2;
  }

}
