.background-portfolio {
  background-color: black;
}

.portfolio-name {
  white-space: pre-wrap;
  font-family: 'Goblin One', sans-serif;
  text-shadow: 2px 2px 4px #e0aaff;
  text-transform: uppercase;
  color: #e278fc;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
}

.portfolio-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  padding: 0 10%;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 100%;
  height: auto;
  margin: 10% 0% 10% 0%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 2px 10px 15px 0px #e278fc;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: 'Space Mono', monospace;
}

.card-text {
  font-size: 1em;
  margin-bottom: 10px;
  font-family: 'Space Mono', monospace;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.web-logo,
.github-logo {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .portfolio-section {
  }

  .card-section {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    width: 30%;
    margin-top: 0%;
    padding-bottom: 5%;
  }

  .web-logo {
    width: 50px;
    height: 50px;
  }
  .github-logo {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 20%;
    margin-top: 0%;
    padding-bottom: 5%;
  }

  .portfolio-name {
    font-size: 48px;
  }
}
